server:
  address: 0.0.0.0
  port: 8679
security:
  basic:
    enabled: false
logging:
  level:
    root: ${LOG_LEVEL_ROOT:INFO}
    org.apache.http: ${LOG_LEVEL_org.apache.http:INFO}
    org.springframework: ${LOG_LEVEL_org.springframework:INFO}  
winrm:
  server: ${WINRM_SERVER:<your server>}
  user: ${WINRM_USERNAME:<your account>} 
  password: ${WINRM_PASSWORT:<your password>}
kube:
  conf: ${KUBECONFIG:/home/daniele/.kube/config}    