LOG_LEVEL_ROOT=INFO
LOG_LEVEL_org.apache.http=INFO
LOG_LEVEL_org.springframework=INFO  
WINRM_SERVER=<your server>
WINRM_USERNAME=<your account> 
WINRM_PASSWORT=<your password>
DNS_MANAGEMENT_ENABLED=false
KUBECONFIG=/etc/kubernetes/cluster.conf
    